/* src/components/News2.css */
.news2-page {
  background-color: #CDCDCD !important; /* Changed from gradient to solid color */
    color: #333;
    padding: 120px 20px 40px; /* Adjusted padding to bring the content further down */
    font-family: Arial, sans-serif;
    text-align: center;
    position: relative;
  }
  
  .news2-title {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #333;
  }
  
  .news2-container {
    max-width: 800px;
    margin: 0 auto;
    text-align: left;
  }
  
  .news2-image {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 20px;
  }
  
  .news2-content {
    margin-top: 20px;
  }
  
  .news2-date {
    font-size: 1em;
    color: #666;
    margin-bottom: 10px;
  }
  
  .news2-link {
    color: #EF4444;
    text-decoration: none;
    font-weight: bold;
    display: block;
    margin: 20px auto;
    text-align: center;
  }
  
  .news2-link:hover {
    text-decoration: underline;
  }
  
  .back-button {
    position: absolute;
    top: 60px; /* Adjusted position to ensure the back button is accessible */
    left: 20px;
    padding: 10px 20px;
    background-color: #0066cc;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
  }
  
  .back-button:hover {
    background-color: #004999;
  }
  
  .arrow {
    margin-right: 10px;
  }
  
  .article-image-container {
    margin-top: 20px;
    text-align: center;
  }
  
  .article-image {
    max-width: 100%;
    border-radius: 8px;
    display: block;
    margin: 0 auto;
  }
  