/* src/components/News3.css */
.news3-page {
  background-color: #f0f0f0 !important; /* Lighter grey background */
  color: #333;
  padding: 80px 20px 40px; /* Adjusted padding */
  font-family: Arial, sans-serif;
  text-align: center;
  position: relative;
}

.news3-title {
  font-size: 2.5em;
  margin-bottom: 20px;
  color: #333;
  font-weight: bold; /* Bold title */
}

.news3-container {
  max-width: 800px;
  margin: 0 auto;
  text-align: left;
}

.news3-image {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 20px;
}

.news3-content {
  margin-top: 20px;
}

.news3-date {
  font-size: 1.5em; /* Increased font-size */
  color: #666;
  margin-bottom: 10px;
  display: block;
  margin: 20px auto;
  text-align: center;
}

.news3-link {
  font-size: 1.5em; /* Increased font-size */
  color: #EF4444;
  text-decoration: none;
  font-weight: bold;
  display: block;
  margin: 20px auto;
  text-align: center;
}

.news3-link:hover {
  text-decoration: underline;
}

.back-button-container {
  display: flex;
  justify-content: flex-start;
  padding-left: 20px;
  margin-top: 20px; /* Adjusted margin-top to bring it down */
  margin-bottom: 30px;
}

.back-button {
  padding: 10px 20px;
  background-color: #333; /* Dark grey background */
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.back-button:hover {
  background-color: #555; /* Slightly lighter grey */
}

.arrow {
  margin-right: 10px;
}

.article-image-container {
  margin-top: 20px;
  text-align: center;
}

.article-image {
  max-width: 100%;
  border-radius: 8px;
  display: block;
  margin: 0 auto;
}
