/* News1.css */
.news1-page {
  background-color: #f0f0f0; /* lighter grey background */
  color: #333;
  padding: 80px 20px 40px;
  font-family: Arial, sans-serif;
  text-align: center;
  position: relative;
}

.news1-title {
  font-size: 2.5em;
  margin-bottom: 20px;
  color: #333;
  font-weight: bold; /* bold title */
}

.news1-container {
  max-width: 800px;
  margin: 0 auto;
  text-align: left;
}

.news1-text{
  font-size: 1.5rem;
}

.news1-image {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 20px;
}

.news1-content {
  margin-top: 20px;
}

.news1-date {
  font-size: 1.5em; /* increased font-size */
  color: #666;
  margin-bottom: 10px;
  align-items: center;
  display: block;
  margin: 20px auto;
  text-align: center;

}

.news1-link {
  font-size: 1.5em; /* increased font-size */
  color: #EF4444;
  text-decoration: none;
  font-weight: bold;
  display: block;
  margin: 20px auto;
  text-align: center;
}

.news1-link:hover {
  text-decoration: underline;
}

.back-button-container {
  display: flex;
  justify-content: flex-start;
  padding-left: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.back-button {
  padding: 10px 20px;
  background-color: #333; /* dark grey background */
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.back-button:hover {
  background-color: #555; /* slightly lighter grey */
}

.arrow {
  margin-right: 10px;
}
