/* News.css */
.news-page {
  background-color: #CDCDCD; /* lighter grey background */
}

.news-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.news-item {
  background-color: #ffffff; /* card colour changed to white */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px 0;
  overflow: hidden;
  width: 80%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.news-image img {
  width: 100%;
  height: auto;
}

.news-content {
  padding: 20px;
}

.news-date {
  font-size: 1.25em; /* increased font-size of the date */
  color: black;
  margin-bottom: 10px;
  display: block;
  margin: 20px auto;
  text-align: center;

}

.news-item-title {
  font-size: 1.5em; /* boldened title */
  font-weight: bold;
  margin-bottom: 10px;
}

.news1-link {
  font-size: 1.5em; /* increased font-size */
  color: #EF4444;
  text-decoration: none;
  font-weight: bold;
  display: block;
  margin: 20px auto;
  text-align: center;
}

.news-description {
  font-size: 1.1em;
  margin-bottom: 20px;
}

.news-link {
  font-size: 1.25em; /* increased font-size of the 'read more' text */
  color: #EF4444;
  text-decoration: none;
  font-weight: bold;
  display: block;
  margin: 20px auto;
  text-align: center;

}

.news-link:hover {
  text-decoration: underline;
}

/* Back button */
.back-button {
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 10px 20px;
  background-color: #333; /* dark grey background */
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.back-button:hover {
  background-color: #555; /* slightly lighter grey */
}

.arrow {
  margin-right: 10px;
}
