.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #3ABEFF; /* Apply the new background color */
  background-image: url('../../assets/banner.svg'); /* Apply the SVG background */
  background-size: cover; /* Ensure the background covers the whole area */
  background-position: center; /* Center the background image */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
}

.hero-content {
  z-index: 1;
  max-width: 800px;
}

.hero-content h2 {
  font-size: 6rem; /* Increased font size */
  font-weight: bold;
  color: #333;
}

.hero-content p {
  color: #e53e3e;
  margin-top: 1rem; /* Increased margin */
  font-size: 2rem; /* Increased font size */
}

.logo-container {
  position: absolute;
  top: 80px; /* Adjust this value to bring the logo downwards */
  left: 20px;
}

.rami-logo {
  height: 100px; /* Adjust the height as needed */
  width: 100px;
  margin-top: 60px;
}

.intro, .quote-section, .research-profile, .facilities, .tour, .contact {
  width: 100%;
  padding: 60px 0;
}

.intro .container, .quote-section .container, .research-profile .container, .facilities .container, .tour .container, .contact .container {
  max-width: 1300px;
  padding: 0 20px;
  margin: 0 auto;
}

.intro-title {
  font-size: 30px;
}

.facilities-container {
  align-items: center;
}

.quote-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.quote-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  padding: 40px;
  background-color: #fddde6;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.quote-details {
  text-align: center;
  margin-top: 20px;
}

.quote-text {
  font-size: 1.25rem;
}

.quote-author {
  font-size: 1rem;
  color: #e53e3e;
}

.slider {
  max-width: 85%; /* Make the carousel 15% smaller */
  margin: 0 auto; /* Center the carousel */
}

.carousel-item {
  display: flex;
  justify-content: center;
}

.carousel-image {
  max-width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 2px solid #333;
}

.tour video, .tour img {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 100%;
}

.contact {
  background: #f9f9f9;
}

.contact form {
  background: #fff;
  display: flex;
  flex-direction: column;
  padding: 2vw 4vw;
  width: 90%;
  max-width: 600px;
  border-radius: 10px;
  margin: 0 auto;
}

.contact form h3 {
  color: #4A5899;
  text-align: center;
  font-weight: 800;
  margin-bottom: 20px;
}

.contact form input, .contact form textarea {
  border: 0;
  margin: 10px 0;
  padding: 20px;
  outline: none;
  background: #F5F5F5;
  font-size: 16px;
  border-radius: 20px;
}

.contact form button {
  padding: 15px;
  background: #FF5361;
  color: #fff;
  font-size: 18px;
  border: 0;
  outline: none;
  cursor: pointer;
  width: 150px;
  margin: 20px auto 0;
  border-radius: 30px;
}

.contact form button img {
  height: 15px;
  align-items: center;
  padding-left: 15px;
}

.contact .contact-inputs:focus {
  border: 2px solid #ff994f;
}

.contact .contact-inputs::placeholder {
  color: #a9a9a9;
}

/* Custom Arrow Styling */
.custom-arrow {
  width: 50px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.custom-arrow:before {
  font-size: 20px;
  color: #333;
}

.custom-arrow:hover {
  background-color: rgba(255, 255, 255, 0.7);
}

.custom-arrow.next {
  right: -60px;
}

.custom-arrow.prev {
  left: -60px;
}

.carousel-inner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-item img {
  border: 2px solid #333;
}

.facilities h2 {
  color: #e53e3e;
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.facilities p {
  font-size: 1.25rem;
  line-height: 1.5;
}

.intro-text {
  max-width: 800px; /* Added to make the paragraph more compact */
  margin: 0 auto;   /* Center the text within the container */
  line-height: 1.6;
}

@media (max-width: 768px) {
  .hero-content h1 {
    font-size: 4rem; /* Increased font size */
  }

  .hero-content p {
    font-size: 1.5rem; /* Increased font size */
  }

  .profile-img {
    width: 80px;
    height: 80px;
  }

  .quote-text {
    font-size: 1rem;
  }

  .quote-author {
    font-size: 0.875rem;
  }

  .custom-arrow {
    width: 30px;
    height: 30px;
  }

  .custom-arrow:before {
    font-size: 15px;
  }

  .custom-arrow.next {
    right: -40px;
  }

  .custom-arrow.prev {
    left: -40px;
  }
}
