.home .hero {
  position: relative;
  width: 100%;
  height: 100vh;
  background: linear-gradient(to right, #3ABEFF, #E2E8F0, #D3EAF7);
  background-image: url('../../assets/banner.svg');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
}

.home .hero-content {
  z-index: 1;
  max-width: 800px;
}

.home .intro-title {
  font-size: 4rem;
  font-style:oblique;
  font-weight: bold;
  color: #333;
}

.home .intro-subtitle {
  font-size: 3rem;
  color: #000;
  margin-top: 1rem;
  font-style:oblique;
}

.home .logo-container {
  position: absolute;
  top: 80px;
  left: 20px;
}

.home .rami-logo {
  height: 100px;
  width: 100px;
  margin-top: 60px;
}

.home .intro,
.home .quote-section,
.home .research-profile,
.home .facilities,
.home .tour,
.home .contact {
  width: 100%;
  padding: 60px 0;
}

.home .intro .container,
.home .quote-section .container,
.home .research-profile .container,
.home .facilities .container,
.home .tour .container,
.home .contact .container {
  max-width: 1300px;
  padding: 0 20px;
  margin: 0 auto;
}

.home .research-areas-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin-top: 2rem;
  justify-items: center;
  justify-content: space-around;
}

.home .research-area-tile {
  background: white;
  padding: 2rem;
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  text-align: center;
  font-size: 1.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px; /* Fixed width */
  height: 300px; /* Fixed height */
}

.home .research-area-tile:hover {
  transform: scale(1.05);
}

.home .research-area-tile .icon {
  font-size: 3rem;
  color: #333;
}

.home .research-area-tile .description {
  margin-top: 1rem;
  font-size: 1rem;
  color: #555;
}

.home .facilities-container {
  align-items: center;
}

.home .quote-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home .quote-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  padding: 40px;
  background-color: #96C9DC;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.home .profile-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.home .quote-details {
  text-align: center;
  margin-top: 20px;
}

.home .quote-text {
  font-size: 1.25rem;
}

.home .quote-author {
  font-size: 1rem;
  color: #e53e3e;
}

.home .slider {
  max-width: 85%;
  margin: 0 auto;
}

.home .carousel-item {
  display: flex;
  justify-content: center;
}

.home .carousel-image {
  max-width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 2px solid #333;
}

.home .tour video,
.home .tour img {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 100%;
}

.home .contact {
  background: #f9f9f9;
}

.home .contact form {
  background: #fff;
  display: flex;
  flex-direction: column;
  padding: 2vw 4vw;
  width: 90%;
  max-width: 600px;
  border-radius: 10px;
  margin: 0 auto;
}

.home .contact form h3 {
  color: #4A5899;
  text-align: center;
  font-weight: 800;
  margin-bottom: 20px;
}

.home .contact form input,
.home .contact form textarea {
  border: 0;
  margin: 10px 0;
  padding: 20px;
  outline: none;
  background: #F5F5F5;
  font-size: 16px;
  border-radius: 20px;
}

.home .contact form button {
  padding: 15px;
  background: #FF5361;
  color: #fff;
  font-size: 18px;
  border: 0;
  outline: none;
  cursor: pointer;
  width: 150px;
  margin: 20px auto 0;
  border-radius: 30px;
}

.home .contact form button img {
  height: 15px;
  align-items: center;
  padding-left: 15px;
}

.home .contact .contact-inputs:focus {
  border: 2px solid #ff994f;
}

.home .contact .contact-inputs::placeholder {
  color: #a9a9a9;
}

/* Custom Arrow Styling */
.home .custom-arrow {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.home .custom-arrow:before {
  font-size: 20px;
  color: #333;
}

.home .custom-arrow.next {
  right: -60px;
}

.home .custom-arrow.prev {
  left: -60px;
}

.home .carousel-inner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home .carousel-item img {
  border: 2px solid #333;
}

.home .facilities h2 {
  color: #e53e3e;
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.home .facilities p {
  font-size: 1.25rem;
  line-height: 1.5;
}

.home .intro-text {
  max-width: 800px;
  margin: 0 auto;
  line-height: 1.6;
}

@media (max-width: 768px) {
  .home .hero-content h2 {
    font-size: 4rem;
  }

  .home .hero-content p {
    font-size: 1.5rem;
  }

  .home .profile-img {
    width: 80px;
    height: 80px;
    display: flex;
  }

  .home .quote-text {
    font-size: 1rem;
  }

  .home .quote-author {
    font-size: 0.875rem;
  }

  .home .custom-arrow {
    width: 30px;
    height: 30px;
  }

  .home .custom-arrow:before {
    font-size: 15px;
  }

  .home .custom-arrow.next {
    right: -40px;
  }

  .home .custom-arrow.prev {
    left: -40px;
  }
}
