/* .team-page {
  font-family: 'Poppins', sans-serif;
} */

.hero {
  text-align: center;
  background: linear-gradient(to right, #BCD8C1, #E2E8F0, #F56565);
  padding: 40px 0;
}

/* Hero Section */
.team-hero {
  position: relative;
  width: 100%;
  height: 400px; /* Adjust the height of the hero section */
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 20; /* Set opacity */
}

.team-hero h2 {
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background for text */
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
}

.team-container {
  background-color: rgba(211, 211, 211, 0.8); /* Light grey background with some transparency */
  padding: 20px; /* Add some padding to the container */
  border-radius: 5px; /* Optional: add border-radius for rounded corners */
  text-align: center; /* Center the text */
  max-width: 600px; /* Adjust the width as needed */
  margin: 0 auto; /* Center the container horizontally */
}

.team-container h3 {
  margin: 0; /* Ensure no extra margin around the text */
}

.team-section {
  text-align: center;
  background-color: #F7FAFC; /* Applied bg-gray-100 color code */
  padding: 40px 0;
}

.team-category {
  margin-bottom: 40px;
}

.team-category h2 {
  color: #333;
  margin-bottom: 20px;
}

.team-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.team-member {
  margin: 10px;
  text-align: center;
}

.team-img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.team-img:hover {
  transform: scale(1.05);
}

.team-name {
  margin-top: 10px;
  color: #E53E3E;
  font-weight: bold;
  font-size: 1.25rem; /* Increase font size */
}

.lecturer-title {
  font-size: 0.875rem;
}

.team-name-break {
  display: block;
  margin-top: -5px;
}

/* Add border to FaUserAlt icon */
.fa-user-alt-wrapper {
  display: inline-block;
  padding: 30px;
}

/* Navbar */
.navbar {
  width: 100%;
  background-color: #fff;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.navbar .logo {
  height: 40px;
}

.navbar ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar ul li {
  margin: 0 15px;
}

.navbar ul li a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

.navbar ul li a:hover {
  color: #E53E3E;
}

/* Responsive Design */
@media (max-width: 768px) {
  .team-grid {
    display: block;
  }

  .team-member {
    margin-bottom: 20px;
  }

  .navbar .container {
    flex-direction: column;
  }
}
